[alias]
    hub = repo hub
    lab = repo lab
[user]
	name = Emils Solmanis
	email = emils@metabroadcast.com
[github]
	user = emilssolmanis
	token = 1b132054fe5c753cc62e64f289055db13b57587f
[core]
	excludesfile = /Users/emils/.gitignore
	editor = emacs
	autocrlf = input
[push]
	default = matching
[init]
	templatedir = /Users/emils/.git_template
[rerere]
	enabled = true
[gitrepo "gitlab"]
    token = ymvCPu2Z-EMEcPDAgnNK
[gitrepo "github"]
    token = 7b7c79b57d81ad2b0c6a67383ac7ef6d13ac3d60
